# Dependencies
node_modules
.pnpm-store

# Build output
dist
.astro

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
server.log
server_log.txt

# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.*

# Local IDE folders
.vscode
.idea
.vercel
.env*.local
